html * {
    font-family: "Courier 10 Pitch",serif;
}

#stats {
    text-align: center;
    font-size: x-large;
}

#legend {
    font-size: large;
}

.ill-filter {
    filter: hue-rotate(40deg) brightness(75%);
}