{% extends "sim/layout.html" %}
{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">Simulation</a>

        <div>
          <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href=""><strong>{{ user.username }}</strong></a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
          </ul>
        </div>
      </nav>

    <div style="padding-top: 5px; padding-bottom: 5px;">
        Welcome to the forum! Here you may find any comments related to tackling the pandemic. Please feel free to share any idea:
    </div>

    <div style="margin-left: 5px" class="container">
        {% if user.is_authenticated %}
            <div>
                <form action="{% url 'forum' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                       {{ new_post_form.content }}
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Create post">
                    </div>
                </form>
            </div>
        {% else %}
            <div>Log in to create posts!</div>
        {% endif %}
        <hr>

        <div>
            {% for post in page_obj %}
                <div style="padding-bottom: 20px">
                    <div>
                        <b>{{ post.owner.username }}</b> wrote:
                    </div>
                    <div>
                        {{ post.content }}
                    </div>
                    <div style="color: gray">
                        {{ post.timestamp }}
                    </div>
                </div>
            {% empty %}
                There are no posts yet!
            {% endfor %}
        </div>
        <div>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled" aria-disabled="true">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled" aria-disabled="true">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>

{% endblock %}