{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wear A Mask!</title>
    <link href="{% static 'sim/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block includes %}{% endblock %}
</head>
    <body>
        <h1 style="text-align: center"><img style="max-width: 100%" src="{% static 'sim/logo.png' %}" alt="Wear a mask!"></h1>
        {% block body %}{% endblock %}
    </body>
</html>